* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    float: left;
    height: 600px;
    padding: 100px 0;
    width: 50%;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flash {
    background: red;
}

.footy-pitch {
    background: #040634;
}

.switch {
    background: #a7bbc3;
}

div {
    margin: 0 auto;
}

.flash div {
    background-image: linear-gradient(125deg, white 124px, transparent 124px, transparent 156px, white 156px),
                        linear-gradient(white, white 30px, #ffdc00 30px, #ffdc00 170px, white 170px);
    border: 5px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.flash div:before,
.flash div:after {
    background-image: linear-gradient(107deg, transparent 80px, #ffdc00 80px, #ffdc00 120px);
    content: '';
    height: 280px;
    position: absolute;
    width: 57px;
}

.flash div:before {
    left: 108px;
    top: -185px;
    transform: skew(-25deg);
}

.flash div:after {
    left: 35px;
    top: 105px;
    transform: skew(-25deg) rotateZ(180deg);
}

.footy-pitch div {
    background-image: linear-gradient(transparent, transparent 199px, white 199px, white 201px, transparent 201px),
                        radial-gradient(circle, transparent, transparent 50px, white 50px, white 52px, transparent 52px),
                        repeating-linear-gradient(to right, #3dac3d, #3dac3d 17px, #53e351 17px, #53e351 35px);
    border: solid 2px white;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.footy-pitch div:before,
.footy-pitch div:after {
    border: solid 2px white;
    content: '';
    display: block;
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 153px;
}

.footy-pitch div:before {
    border-top: none;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    top: -90px;
}

.footy-pitch div:after {
    border-bottom: none;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: -90px;
}

.switch div {
    background-image: radial-gradient(farthest-corner at 350px 50px, #fff, #233 );
    border-radius: 10px;
    box-shadow: -4px 5px 7px 1px #638490;
    height: 350px;
    padding: 7px;
    position: relative;
    width: 350px;
}

.switch div:before {
    background-image: radial-gradient(30px 4px at 40px, #222 17px, transparent 17px),
    radial-gradient(30px 4px at 300px, #000 17px, transparent 17px),
    radial-gradient(circle at 40px, transparent, transparent 13px, #222 13px, #222 16px, transparent 16px),
    radial-gradient(circle at 300px, transparent, transparent 13px, #000 13px, #000 16px, transparent 16px),
    radial-gradient(18px 18px at 40px, #fff, #ccc 9px, #444 17px, transparent 17px),
    radial-gradient(18px 18px at 300px, #fff, #ccc 9px, #000 17px, transparent 17px),
    repeating-linear-gradient(#d3d3d3 1px, #bbb 2px, #e1e1e1 3px, #777 4px);
    border-radius: 7px;
    content: '';
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
}

.switch div:after {
    background-image: repeating-linear-gradient(#d3d3d3 1px, #bbb 2px, #e1e1e1 3px, #777 4px);
    border: solid 4px #000;
    border-radius: 5px;
    box-shadow: inset 0 -25px 2px #444, inset 0 -30px 5px #FFE, -2px 5px 10px #111;
    content: '';
    display: block;
    height: 120px;
    left: 50%;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}
