* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    float: left;
    height: 600px;
    padding: 100px 0;
    width: 50%;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flash {
    background: red;
}

.footy-pitch {
    background: #040634;
}

.switch {
    background: #a7bbc3;
}

.bobert {
    background: grey;
    position: relative;
    z-index: 0;
}

div {
    margin: 0 auto;
}

.flash div {
    background-image: linear-gradient(125deg, white 124px, transparent 124px, transparent 156px, white 156px),
                        linear-gradient(white, white 30px, #ffdc00 30px, #ffdc00 170px, white 170px);
    border: 5px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.flash div:before,
.flash div:after {
    background-image: linear-gradient(107deg, transparent 80px, #ffdc00 80px, #ffdc00 120px);
    content: '';
    height: 280px;
    position: absolute;
    width: 57px;
}

.flash div:before {
    left: 108px;
    top: -185px;
    transform: skew(-25deg);
}

.flash div:after {
    left: 35px;
    top: 105px;
    transform: skew(-25deg) rotateZ(180deg);
}

.footy-pitch div {
    background-image: linear-gradient(transparent, transparent 199px, white 199px, white 201px, transparent 201px),
                        radial-gradient(circle, transparent, transparent 50px, white 50px, white 52px, transparent 52px),
                        repeating-linear-gradient(to right, #3dac3d, #3dac3d 17px, #53e351 17px, #53e351 35px);
    border: solid 2px white;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.footy-pitch div:before,
.footy-pitch div:after {
    border: solid 2px white;
    content: '';
    display: block;
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 153px;
}

.footy-pitch div:before {
    border-top: none;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    top: -90px;
}

.footy-pitch div:after {
    border-bottom: none;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: -90px;
}

.switch div {
    background-image: radial-gradient(farthest-corner at 350px 50px, #fff, #233 );
    border-radius: 10px;
    box-shadow: -4px 5px 7px 1px #638490;
    height: 350px;
    padding: 7px;
    position: relative;
    width: 350px;
}

.switch div:before {
    background-image: radial-gradient(30px 4px at 40px, #222 17px, transparent 17px),
    radial-gradient(30px 4px at 300px, #000 17px, transparent 17px),
    radial-gradient(circle at 40px, transparent, transparent 13px, #222 13px, #222 16px, transparent 16px),
    radial-gradient(circle at 300px, transparent, transparent 13px, #000 13px, #000 16px, transparent 16px),
    radial-gradient(18px 18px at 40px, #fff, #ccc 9px, #444 17px, transparent 17px),
    radial-gradient(18px 18px at 300px, #fff, #ccc 9px, #000 17px, transparent 17px),
    repeating-linear-gradient(#d3d3d3 1px, #bbb 2px, #e1e1e1 3px, #777 4px);
    border-radius: 7px;
    content: '';
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
}

.switch div:after {
    background-image: repeating-linear-gradient(#d3d3d3 1px, #bbb 2px, #e1e1e1 3px, #777 4px);
    border: solid 4px #000;
    border-radius: 5px;
    box-shadow: inset 0 -25px 2px #444, inset 0 -30px 5px #FFE, -2px 5px 10px #111;
    content: '';
    display: block;
    height: 120px;
    left: 50%;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}

.bobert div {
    background-color: white;
    background-image: radial-gradient(circle at 200px 150px, transparent, transparent 70px, black 71px, black 79px, transparent 80px),
    radial-gradient(5px 7px at 150px 125px, white, white 5px, transparent 7px),
    radial-gradient(circle at 200px 150px, #acb8c8, #9aa0c2 70px, transparent 72px),
    linear-gradient(to right, transparent, transparent 60px, black 62px, black 72px, transparent 72px),
    radial-gradient(8px 4px at 100px 207px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 105px 207px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 110px 207px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 115px 207px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 120px 207px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 100px 220px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 105px 220px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 110px 220px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 115px 220px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px),
    radial-gradient(8px 4px at 120px 220px, #f1ea1d, #f1ea1d 8px, rgba(255,255,255,0) 10px);
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset -10px -10px 50px #777;
    height: 250px;
    width: 300px;
    z-index: 1;
}

.bobert div:before {
    background: black;
    border-radius: 35px;
    box-shadow: -1px -10px 15px rgba(0,0,0,0.2);
    content: '';
    display: block;
    height: 130px;
    position: absolute;
    right: 50%;
    top: 185px;
    transform: translateX(95px);
    width: 70px;
    z-index: 1;
}

.bobert div:after {
    background-image: radial-gradient(circle at 340px 282px, grey, grey 10px, transparent 10px),
    radial-gradient(circle at 310px 279px, #444, #444 5px, #181b23 6px, #181b23 7px, transparent 8px),
    radial-gradient(7px 12px at 325px 282px, transparent, transparent 9px, #444 10px, #444 11px, #555 12px, #555 17px, transparent 18px),
    radial-gradient(circle at 0 282px, grey, grey 10px, transparent 10px),
    radial-gradient(circle at 30px 279px, #444, #444 5px, #181b23 6px, #181b23 7px, transparent 8px),
    radial-gradient(7px 12px at 15px 282px, transparent, transparent 9px, #444 10px, #444 11px, #555 12px, #555 17px, transparent 18px),
                        radial-gradient(15px 7px at 140px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 150px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 160px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 170px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 180px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 190px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 200px 320px, black, black 12px, transparent 14px),
                        radial-gradient(15px 7px at 140px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 150px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 160px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 170px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 180px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 190px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 7px at 200px 317px, grey, grey 12px, rgba(80,80,80,0) 14px),
                        radial-gradient(15px 35px at 22px 145px, black, black 15px, transparent 16px),
                        radial-gradient(15px 35px at 318px 145px, black, black 15px, transparent 16px),
                        radial-gradient(circle at 312px 280px, #181b23, #181b23 11px, transparent 12px),
                        radial-gradient(circle at 29px 280px, #181b23, #181b23 11px, transparent 12px),
                        linear-gradient(to right, transparent, transparent 130px, #e1e2e5 130px, #aeafb4 180px, #86878c 195px, #a0a3aa 205px, #9da0a9 210px, transparent 210px),
                        radial-gradient(500px 200px at 170px 360px, grey, grey 223px, rgba(80,80,80,0) 225px),
                        radial-gradient(500px 200px at 170px 360px, rgba(80,80,80,0), rgba(80,80,80,0) 268px, grey 270px),
                        linear-gradient(to right, transparent, transparent 24px, #181b23 24px,#181b23 42px, #474c59 42px, #474c59 46px,
                        #181b23 46px,#181b23 64px, #474c59 64px, #474c59 68px, #181b23 68px,#181b23 86px, #474c59 86px, #474c59 90px,
                        #181b23 90px,#181b23 108px, #474c59 108px, #474c59 112px, #181b23 112px, #181b23 130px, transparent 130px,
                        transparent 210px, #181b23 210px, #181b23 231px, #474c59 231px, #474c59 235px, #181b23 235px, #181b23 253px,
                        #474c59 253px, #474c59 257px, #181b23 257px, #181b23 275px, #474c59 275px, #474c59 279px,
                        #181b23 279px, #181b23 297px, #474c59 297px, #474c59 301px, #181b23 301px,#181b23 319px, transparent 319px);
    content: '';
    display: block;
    height: 350px;
    left: 50%;
    position: absolute;
    top: 105px;
    transform: translateX(-50%);
    width: 340px;
    z-index: -1;
}
